{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if user.is_authenticated %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Quit</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'users:profile'  object.id %}">Profile</a>
                        </li>

                    </ul>
                </li>

            </ul>


            {% else %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">Login</a>
            </li>
            {% endif %}

        </div>
    </div>
</nav>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    {% block content %}
    {% endblock %}

</div>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>